.breadcrumb {
  grid-area: list;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 16px;
  display: flex;
  gap: 3px;
}

.breadcrumb-description {
  font-size: 14px;
  color: var(--secondary-gray);
}
